flows.json
[
    {
        "id": "d2076010266e691e",
        "type": "tab",
        "label": "Alex",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58d29239db35f478",
        "type": "tab",
        "label": "Tristan",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "741b416bb34222f3",
        "type": "socketcan-config",
        "interface": "can0"
    },
    {
        "id": "fb438eea61450b9a",
        "type": "inject",
        "z": "d2076010266e691e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "35688c0c014d34fe"
            ]
        ]
    },
    {
        "id": "0fd5a1e3cf5dcf75",
        "type": "debug",
        "z": "d2076010266e691e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 80,
        "wires": []
    },
    {
        "id": "35688c0c014d34fe",
        "type": "function",
        "z": "d2076010266e691e",
        "name": "",
        "func": "msg.payload=\n{\n    \"canfd\":false,\n    \"ext\":false,\n    \"rtr\":false,\n    \"canid\":123,\n    \"dlc\":5,\n    \"data\":[1,2,3,4,5]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 80,
        "wires": [
            [
                "20538159defe6896"
            ]
        ]
    },
    {
        "id": "20538159defe6896",
        "type": "socketcan-in",
        "z": "d2076010266e691e",
        "name": "socketcan-in",
        "config": "741b416bb34222f3",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "23599d99cad3a6ab",
        "type": "socketcan-out",
        "z": "d2076010266e691e",
        "name": "socketcan-out",
        "config": "741b416bb34222f3",
        "x": 660,
        "y": 180,
        "wires": [
            [
                "077e7a4c530379b3",
                "60484e5268855740"
            ]
        ]
    },
    {
        "id": "077e7a4c530379b3",
        "type": "buffer-maker",
        "z": "d2076010266e691e",
        "name": "CanID-Filter",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "name": "item1",
                "type": "uint8",
                "length": 1,
                "dataType": "msg",
                "data": "payload.canid"
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "x": 1310,
        "y": 80,
        "wires": [
            [
                "0fd5a1e3cf5dcf75"
            ]
        ]
    },
    {
        "id": "60484e5268855740",
        "type": "buffer-maker",
        "z": "d2076010266e691e",
        "name": "Can_Data",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "name": "item1",
                "type": "uint8",
                "length": 5,
                "dataType": "msg",
                "data": "payload.data"
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "x": 1300,
        "y": 140,
        "wires": [
            [
                "0fd5a1e3cf5dcf75"
            ]
        ]
    },
    {
        "id": "27defb4debe5192c",
        "type": "inject",
        "z": "d2076010266e691e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "20538159defe6896"
            ]
        ]
    },
    {
        "id": "725004eea16c0223",
        "type": "inject",
        "z": "d2076010266e691e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4f223e580539804f",
        "type": "inject",
        "z": "58d29239db35f478",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "e27541eac442c9c9"
            ]
        ]
    },
    {
        "id": "57a2240110149243",
        "type": "debug",
        "z": "58d29239db35f478",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 60,
        "wires": []
    },
    {
        "id": "e27541eac442c9c9",
        "type": "function",
        "z": "58d29239db35f478",
        "name": "",
        "func": "msg.payload=\n{\n    \"canfd\":false,\n    \"ext\":false,\n    \"rtr\":false,\n    \"canid\":123,\n    \"dlc\":5,\n    \"data\":[1,2,3,4,5]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 60,
        "wires": [
            [
                "df553731bdcb86fe"
            ]
        ]
    },
    {
        "id": "df553731bdcb86fe",
        "type": "socketcan-in",
        "z": "58d29239db35f478",
        "name": "socketcan-in",
        "config": "741b416bb34222f3",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "a533d62f8644b75e",
        "type": "socketcan-out",
        "z": "58d29239db35f478",
        "name": "socketcan-out",
        "config": "741b416bb34222f3",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "6d576461541cd13c",
                "a78d89cf23e0b4b7"
            ]
        ]
    },
    {
        "id": "6d576461541cd13c",
        "type": "buffer-maker",
        "z": "58d29239db35f478",
        "name": "CanID-Filter",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "name": "item1",
                "type": "uint8",
                "length": 1,
                "dataType": "msg",
                "data": "payload.canid"
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "x": 1250,
        "y": 60,
        "wires": [
            [
                "57a2240110149243"
            ]
        ]
    },
    {
        "id": "a78d89cf23e0b4b7",
        "type": "buffer-maker",
        "z": "58d29239db35f478",
        "name": "Can_Data",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "name": "item1",
                "type": "uint8",
                "length": 5,
                "dataType": "msg",
                "data": "payload.data"
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "x": 1240,
        "y": 120,
        "wires": [
            [
                "57a2240110149243"
            ]
        ]
    },
    {
        "id": "918724923cac0e23",
        "type": "inject",
        "z": "58d29239db35f478",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "df553731bdcb86fe"
            ]
        ]
    }
]